# safelist
language: java
jdk:
  - oraclejdk8
sudo: true

services:
  - mysql
branches:
  only:
  - master

before_install:
  - mysql -e 'CREATE DATABASE sistemadb;'
  - mysql -u root sistemadb < sistemadb.sql
